
body{
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

h2{
    font-size: 1.8em;
}

.contratos{
    width: 358px;
    height: 300px;
    background-color: rgb(243, 243, 243);
    padding: 2% 2%;
}

.precio{
    font-size: 2.5em;
}

/* botones */
.btn1{
    margin: 1% 0;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    padding: 1% 5%;
    background-color: rgb(255, 35, 226);
}

.btn1 a{
    text-decoration: none;
    color: black;
}

.btn2{
    margin: 1% 0;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    padding: 1% 5%;
    background-color: rgb(22, 247, 247);
}

.btn2 a{
    text-decoration: none;
    color: black;
}

.btn3{
    margin: 1% 0;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    padding: 1% 5%;
    background-color: black;
}

.btn3 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* mediaqueies */
@media (max-width:900px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .contratos{
        border-bottom: 1px solid black;
    }
}
